body {
    font-family: serif;
    margin-left: 150px;
    margin-bottom: 50px;
    
    
}

table, td, th {
    border: 0.5px solid #ddd; 
    border-collapse: collapse;
    padding: 20px, 20px;
    text-align: center;
    
    
}

td, thead tr th {
    padding: 8px 16px;
}

table {
    width: 90%;
    font-size: 16px;
}

thead{
    background-color: dodgerblue;
    color: white;
}


tbody tr:nth-child(odd){
    background-color: #ddd;
}

.outline{
    background-color: gray;
    color: white;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    padding: 6px 0px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 8px;
}